<nav style="display: flex; justify-content: space-between;">
  <div>
    <%= link_to "Home", root_path %>
    <%= link_to "Profile", profile_path %>
  </div>

  <div>
    <% if user_signed_in? %>
      <%= button_to "Sign out",
                    destroy_user_session_path,
                    method: :delete,
                    form: { style: "display: inline;" } %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>
</nav>
